*{
  box-sizing: border-box;

}
body {
  margin: 0;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}
footer{
  position: absolute;
  height: 40px;
  padding-bottom: 1em;
  width: 99%;
}
a{
  color: black;
}
#border {
  border-style: none;
}

.bg-personal {
  width: 100%;
  height: 700px;
}

.img {
  height: auto;
  width: 100%;
}
